@import url(normalize.css);

html { font-family:Lato, Arial, sans-serif; font-size:12px;}

/*
	Header
*/

header.main {
	background-color:rgba(0,0,0,0.6) ;
	width:300px;
	position:fixed;
	top:0;
	bottom:0;
	z-index:1;
	color:#fff;
}

div.header-cover {
	background-size:cover;
	background-position:50% 50%;
	width:300px;
	position:fixed;
	top:0;
	bottom:0;
	z-index:1;
	color:#fff;
}

header.main div.wrap {
	position:fixed;
	bottom:45px;
	width:300px;
	z-index:100;
	text-align:center;
}

header.main h1, header.main p {
	margin:0 40px;
}

header.main h1 a {
	color:#fff;
	font-size:2.2em;
	text-decoration:none;
}

header.main p {
	margin-top:10px;
	color:rgba(255,255,255,0.5);
	line-height:1.5;
	font-size:1.1em;
}

header.main div.logo {
	margin-bottom:15px;
}

header.main div.logo img {
	border-radius:50%;
	background:#fff;
	width:80px;
	height:80px;
	padding:5px;
}


/*
	Content area
*/

section.content {
	margin-left:300px;
	padding:70px;
}


/*
	Post content
*/

section.content article {
	font-size:1.3em;
}

section.content article  a {
	color:#25a1db;
	text-decoration:none;
	border-bottom:1px solid #c1dbef;
}

section.content article p.meta {
	color:#999;
	font-size:0.9em;
	margin-bottom:5px;
}

section.content article h1 {
	font-size:2.8em;
}

section.content article section.post-content {
	margin:15px 0;
	line-height:1.7;
}

section.content article section.post-content p,
section.content article section.post-content pre, 
section.content article section.post-content blockquote,
section.content article section.post-content h1,  
section.content article section.post-content h2,
section.content article section.post-content h3,
section.content article section.post-content h4,
section.content article section.post-content h5 {
	margin:18px 0;
}

section.content article section.post-content h1,  
section.content article section.post-content h2,
section.content article section.post-content h3,
section.content article section.post-content h4,
section.content article section.post-content h5 {
	font-weight:normal;
}

section.content article section.post-content h1,
section.content article section.post-content h2,
section.content article section.post-content h3 {
	font-size:2.0em;
}

section.content article section.post-content h4 {
	font-size:1.7em;
}

section.content article section.post-content h5 {
	font-size:1.2em;
}

section.content article section.post-content pre {
	background:#f7f7f7;
	font-size:0.9em;
	padding:10px;
	border:1px solid #ddd;
}

section.content article section.post-content ul li {
	margin-left:35px;
	list-style:square;
}

/*
	Post list
*/
section.content article.home.post {
	margin-bottom:50px;
}

section.content article.home.post h2 {
	margin-bottom:5px;
}

section.content article.home.post h2 a {
	font-size:2.0em;
	color:#000;
	text-decoration:none;
	border:0;
}

section.content article.home.post h2 a:hover {
	color:#25a1db;
}

section.content article.home.post section.post-excerpt {
	line-height:1.8;
	font-size:0.95em;
}


/*
	Pagination
*/
nav.pagination {
	border-top:1px solid #efefef;
	padding-top:50px;
	margin-top:60px;
	text-align:center;
	color:#999;
}

/*
	Post footer
*/

section.content article.post footer.post {
	border:1px solid #ddd;
	margin-top:50px;
	overflow:hidden;
	background:#f7f7f7;
	padding:25px;
}

section.content article.post footer.post section.author {
	width:70%;
	float:left;
	line-height:1.8;
	font-size:0.9em;
}

section.content article.post footer.post section.author p {
	color:#999;
}

section.content article.post footer.post section.share {
	width:25%;
	float:right;
}

section.content article.post footer.post section.share h4 {
	margin-bottom:15px;
}

section.content article.post footer.post section.share a {
	width:20px;
	height:20px;
	background:url('../img/twitter.svg') no-repeat 50%;
	opacity:0.7;
	border:0;
	background-size:20px;
	display:inline-block;
	text-indent:-40000px;
	margin-right:15px;
}

section.content article.post footer.post section.share a.twitter {
	background-image:url('../img/twitter.svg');
}

section.content article.post footer.post section.share a.facebook {
	background-image:url('../img/facebook.svg');
}

section.content article.post footer.post section.share a.google {
	background-image:url('../img/google.svg');
}


/*
	Page footer
*/
section.content footer.global {
	border-top:1px solid #efefef;
	padding-top:25px;
	margin-top:25px;
	margin-bottom:50px;
	font-size:1.1em;
	color:#bbb;
	line-height:1.5;
}