<footer class="site-footer">
    {{!-- you can remove it --}}
        <section class="poweredby ghost">
            Hello there :)
        </section>
        <section class="poweredby px-themes">
            Davis Ford, 2016
        </section>
    {{!-- remove it --}}
</footer>